.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 100px auto;
  padding: 40px; 
  border-radius: 15px; 
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(207, 207, 239, 0.5)); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.field {
  display: grid;
  grid-template-columns: repeat(3, 80px); 
  grid-template-rows: repeat(3, 80px); 
  padding: 5px; 
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgba(255, 255, 255, 0.317);
  color: rgb(17, 17, 17);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: large;
  padding: 10px 50px;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 
    inset 0 -2px 5px rgba(82, 87, 93, 0.424), 
    inset 0 2px 5px rgba(0, 0, 0, 0.2), 
    0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

.reset:hover {
  transform: scale(1.02); 
  font-size: 18.5px;
}

.reset:active {
  transform: scale(0.95); 
  box-shadow: 
    inset 0 -1px 3px rgba(255, 255, 255, 0.3), 
    inset 0 1px 3px rgba(0, 0, 0, 0.1), 
    0 2px 5px rgba(0, 0, 0, 0.2); 
}